<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ .Title }} | {{ .Site.Params.subtitle }}</title>
  {{ $style := resources.Get "css/styles.scss" | resources.ToCSS  }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="apple-touch-icon" href="icon-512.png">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="me" href="https://mastodon.mcewan.io/@james">
</head>