<nav class="nav">
  <ul class="nav__list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="nav__list__item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} nav__list__item--active{{end}}">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}

  </ul>
</nav>