$screen: 901px;

:root {
  --heading-font: "Informative-Black", "Arial Black", sans-serif;
  --main-font: "Informative-Regular", "Arial", sans-serif;
  --primary-text: #cab3f7;
  --title: #d801af;
  --headings: #1ea8fc;
  --accent: #680aff;
  --link: #d86bff;
  --link-hover: #d801af;
  --nav-fg: #b099de;
  --nav-bg: #340aa0;
  --dark-bg: #0b011c;
}
