@font-face {
  font-family: "Informative-Black";
  font-display: swap;
  src: url("/fonts/3850A8_0_0.woff2") format("woff2"),
    url("/fonts/3850A8_0_0.woff") format("woff");
}

@font-face {
  font-family: "Informative-Regular";
  font-display: swap;
  src: url("/fonts/3850AE_0_0.woff2") format("woff2"),
    url("/fonts/3850AE_0_0.woff") format("woff");
}

html {
  font-size: 10px;

  @media screen and (min-width: $screen) {
    font-size: 12px;
  }
}

body {
  background: var(--dark-bg);
  color: var(--primary-text);
  font-family: var(--main-font);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

// links

a {
  color: var(--link);
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: color 1.5s;
  transition: color 1.5s;

  &:active,
  &:focus,
  &:hover {
    color: var(--link-hover);
  }
}

// Headings

%headings {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  margin: 0 0 1.3rem 0;
  padding: 0;
}

h1 {
  @extend %headings;
  color: var(--headings);
  font-size: 4.6rem;
  text-transform: uppercase;
}

h2 {
  @extend %headings;
  color: var(--headings);
  font-size: 4.2rem;
}

h3 {
  @extend %headings;
  font-size: 3.6rem;
}

h4 {
  @extend %headings;
  font-size: 3.2rem;
}

h5 {
  @extend %headings;
  font-size: 2.6rem;
}

h6 {
  @extend %headings;
  font-size: 2.2rem;
}

// Paragraphs

p {
  margin: 0 0 2.2rem 0;

  &:last-child {
    margin: 0;
  }
}
