.wrapper {
  margin: 2.6rem auto;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 2.6rem;
  align-items: start;
}

%mobile-padding {
  padding: 0 1.3rem;

  @media screen and (min-width: $screen) {
    padding: 0;
  }
}

.header {
  @extend %mobile-padding;

  height: auto;
  display: grid;
  justify-items: center;

  .logo {
    width: 100%;
    display: block;

    &__path {
      fill: var(--title);
    }
  }

  .logo-link {
    display: block;
  }
}

.nav {
  &__list {
    list-style-type: none;
    display: flex;

    &__item {
      background: var(--nav-bg);
      box-sizing: border-box;
      text-transform: uppercase;
      flex: 1;
      text-align: center;
      a {
        color: var(--nav-fg);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.3rem 0;
        line-height: 1em;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
      }

      &--active {
        a {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.main {
  @extend %mobile-padding;

  img {
    max-width: 100%;
  }
}

.footer {
  @extend %mobile-padding;
  display: grid;
  grid-template-columns: 1fr 7rem;
  align-items: flex-end;
  grid-gap: 1.3rem;

  p {
    margin-bottom: 0;
  }
}

// Page specific

.elsewhere {
  @extend %mobile-padding;

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1.3rem;
}

@media screen and (min-width: $screen) {
  .elsewhere {
    grid-template-columns: repeat(7, auto);
  }
}

.selfie {
  width: 100%;
  display: block;
  max-height: 12rem;
  object-fit: cover;
  background-color: var(--accent);
}

@media screen and (min-width: $screen) {
  .selfie {
    max-height: 26rem;
  }
}

.sketchbook {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.3rem;

  img {
    width: 100%;
  }
}

.four-oh-four {
  width: 100%;
}

.logo-skull {
  max-width: 100%;
}

.logo-skull__path {
  fill: var(--nav-fg);
}
