<!DOCTYPE html>
<html lang="en">

{{ block "head" . }}
{{ partial "head.html" .}}
{{ end }}


<body>

  <div class="wrapper">
    {{ block "header" . }}
    {{ partial "header.html" .}}
    {{ end }}

    {{ block "nav" . }}
    {{ partial "nav.html" .}}
    {{ end }}

    {{- block "main" . }}
    {{- end }}

    {{ block "footer" . }}
    {{ partial "footer.html" .}}
    {{ end }}
  </div>

</body>

</html>